*{
    margin:0px;
    padding:0px;
    box-sizing:content-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    overflow:auto;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: background-color .8s ease;
    
}
.subContenedor{
    overflow:auto;
    background-color: rgba(255,255,255,1.00);
    border-radius: 16px;
    width: 600px;
    height: 670px;
    min-height: 640px;
    padding: 0px 14px;
    
  
    
    
   
}
.encabezado{
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.Cclose{
    flex-grow: 1;
}
 .close{
    color: rgb(47, 50, 54);
    transform: scale(1.4);
    padding: 6px 8px;
    
}
.close:hover{
    transition: background-color .3s ease-in-out;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgba(106, 104, 104, 0.155); 
    
}
.vacio{
    flex-grow: 1;
}


.icoTwitter{
    transform: scale(1.9);
    color: rgb(29, 155, 240);
    
    
    
}

.main{
    overflow:auto;
    max-width: 300px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 48px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    height: 524px;
}

.Ctitulo{
    height: 114px;
    display: flex;
    
    align-items: center;
}


.cCuenta, .cApple , .cSeparador, .c1separadores, .Cform , .Cboton, .cExtra{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
}
.subCuenta{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 200px;
    border: 1px solid lightgray;
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
    flex-grow: 1;
}
.subCuenta:hover{
    transition: background-color .5s ease-in-out;
    background-color: rgba(153, 148, 148, 0.155); 
}

.cAvatar{
    padding: 4px 7px;
    border: 1px solid #ffff;
    border-radius: 50%;
    color: #fff;
    background-color: brown;
   
}

.cNombre{
  flex-grow: 1;
}

.Nombre{
    font-size: 11.2px;
}

.cCorreo{
    display: flex;
    gap: 10px;
    color: gray;
    align-items: center;
   
}
.correo{
    font-size: 11.5px;
}
.iconDown{
   font-size: 14.5px;
}


.apple{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 200px;
    border: 1px solid lightgray;
    padding: 11px 5px;
    flex-grow: 1;
    cursor: pointer;
    user-select: none;
    
}
.apple:hover{
    transition: background-color .5s ease-in-out;
    background-color: rgba(153, 148, 148, 0.155); 
}

.iconApple{
    font-size: 20px;
}

.textApple{
    font-size: medium;
}

.c1separadores{
    height: 30px;
}

.cSeparador{
    display: flex;
    padding: 0px 5px;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex-grow: 1;
}
.separadores{
    flex-grow: 1;
    height: .1px;
    border: 1px solid lightgray;
}

.separadorRadius{
    padding: 3px 2.5px;
    border: 2px solid;
    border-radius: 50%;
}

.correoElectronico{
    height: 50px;
    width: 92%;
    outline: 1px solid lightgray;
    border: 0px;
    border-radius: 5px;
    padding: 0px 10px;    
}
.correoElectronico::placeholder{
    font-size: 19px;

   

    
}

.correoElectronico:focus{
   
    font-size: 20px;
    outline-color: blue;
}

.boton{
    width: 100%;
    border-radius: 200px;
    border: none;
    padding: 13px 5px;
    background-color: #111;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}
.boton:active{
    background-color: #111111c7;
}

.cSubExtra {
    border: 0.1px solid #eedfdfcc;
    border-radius: 200px;
    flex-grow: 1;
    padding: 12px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cSubExtra:hover{
    background-color: #e2d8d842;
}

.footer{
    height: 50px;
    display: flex;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.622);
    font-weight: 300;
    font-size: large;
    padding: 1px 0px;
}


.textfooterExtra{
    color: rgb(29, 155, 240);
    cursor: pointer;
}

@media only screen and (max-width: 700px) {

   
.subContenedor{
    padding:60px 5px 20px 10px;
    display:flex;
    flex-direction:column;
    border-radius: 0px;
    width: 100%;
    height: 100%;
 }

 .main{
    margin: 20px auto;
 }


}

